body{
    background: #053565;
    background-image: linear-gradient(120deg, #053565, #01060c);
    height: 100vh;
}
#alert{
    width: 95%;
    max-width: 400px;
    margin: 1em auto;
}
.lead{
    max-width: 283px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-weight: 900;
}
.btn{
    font-weight: 500;
    border-width: 2px;
}